<div class="row">
  <div class="small-2 columns">
    <img src="{{thumbnailURL}}">
  </div>

  <div class="small-10 columns">
    <h3>{{name}}</h3>

    <a href="" class="button small">An Action</a>
    <a href="" class="button small">Another Action</a>
  </div>
</div>